asgiref==3.8.1
certifi==2025.4.26
cffi==1.17.1
channels==4.2.2
charset-normalizer==3.4.2
cryptography==44.0.3
Django==5.2.1
django-cors-headers==4.7.0
djangorestframework==3.16.0
idna==3.10
paypalrestsdk==1.13.3
pillow==11.2.1
pycparser==2.22
pyOpenSSL==25.0.0
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.4.0
