
{% extends 'paginas/modelo2.html' %}
{% load static %}

{% block titulo %}
<title>Lista Admin</title>
{% endblock %}


{% block conteudo %}
<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="title_left">
            <<h3><i class="fa fa-lightbulb-o">Administradores <small>cadastrados</small></i></h3>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered" id="sampleTable">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Telefone</th>
                      <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for adm in admin %}
                    <tr>
                      <td>{{ adm.username }}</td>
                      <td>{{ adm.email }}</td>
                      <td>{{ adm.telefone }}</td>
                      <td>
                        <a href="">Editar</a>
                        <a href="">Excluir</a>
                      </td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td>Nenhum Administrador Encontrado</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
