
{% extends 'paginas/modelo2.html' %}
{% load static %}

{% block titulo %}
<title>Lista Clientes</title>
{% endblock %}


{% block conteudo %}
<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="title_left">
            <h3>
              <i class="fa fa-lightbulb-o">Clientes <small>cadastrados</small></i></h3>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered" id="sampleTable">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>Proprietario</th>
                      <th>Telefone</th>
                      <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for cliente in clientes %}
                    <tr>
                      <td>{{ cliente.username }}</td>
                      <td>{{ cliente. }}</td>
                      <td>{{ cliente.telefone }}</td>
                      <td>
                        <a href="" class="btn btn-warning btn-sm" title="editar">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        <a href=""class="btn btn-danger btn-sm" title="excluir ">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td>Nenhum Cliente Encontrado</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
