{% extends 'paginas/modelo2.html' %}
{% load static %}

{% block titulo %}
<title>Dashboar Operador</title>
{% endblock %}


{% block conteudo %}
<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="title_left">
            <h3>
              Ecosm<i class="fa fa-lightbulb-o">art</i>
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="tile">
          {% if request.resolver_match.view_name == "cadastro-pt" %}
            <h3 class="tile-title">
              <i class="fa fa-flash">Registro PTs</i>
            </h3>
          {% else %}
            <h3 class="tile-title">
              <i class="fa fa-flash">Editar PTs</i>
            </h3>
          {% endif %}
          <div class="tile-body">
            <form method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label class="form-label" for="id_nome_pt">Nome do PT</label>
                <input class="form-control" type="text" name="nome_pt" id="id_nome_pt" placeholder="" value="{{ pt_form.nome_pt.value|default:'' }}">
              </div>

              <div class="mb-3">
                <label class="form-label" for="id_numero_pt">Numero do PT</label>
                <input class="form-control" type="number" name="numero_pt" required="" id="id_numero_pt" placeholder="" value="{{ pt_form.numero_pt.value|default:'' }}">
              </div>

              <div class="mb-3">
                <label class="form-label" for="id_municipio_pt">Município</label>
                <input class="form-control" type="text" name="municipio_pt" required="" id="id_municipio_pt" placeholder="" value="{{ pt_form.municipio_pt.value|default:'' }}">
              </div>

              <div class="mb-3">
                <label class="form-label" for="id_bairro_pt">Bairro</label>
                <input class="form-control" type="text" name="bairro_pt" required="" id="id_bairro_pt" placeholder="" value="{{ pt_form.bairro_pt.value|default:'' }}">
              </div>


              <!-- Mensagem de erro -->
              {% if pt_form.errors %}
                <div class="alert alert-danger">
                  <ul>
                    {% for field in pt_form %}
                      {% for error in field.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              <div class="tile-footer">
                <div class="row">
                  <div class="col-md-8 col-md-offset-3">
                    <button class="btn btn-primary" type="submit"><i class="bi bi-check-circle-fill me-2"></i>Register</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"><i class="bi bi-x-circle-fill me-2"></i>Cancel</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--script src="{% static 'js/script.js' %}" defer></script-->

{% endblock %}