{% extends 'paginas/modelo2.html' %}
{% load static %}

{% block titulo %}
<title>Pagamento</title>
{% endblock %}


{% block conteudo %}
<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="title_left">
            <h3>
              EcoSm<i class="fa fa-lightbulb-o">rt</i>
            </h3> <!--fa fa-bolt-->
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon"><i class="icon bi bi-people fs-1"></i>
          <div class="info">
            <h4>Comprada</h4>
            <p><b>5</b></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon"><i class="icon bi bi-heart fs-1"></i>
          <div class="info">
            <h4>Ativa</h4>
            <p><b>25</b></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="widget-small warning coloured-icon"><i class="icon bi bi-folder2 fs-1"></i>
          <div class="info">
            <h4>Consumida</h4>
            <p><b>10</b></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="widget-small danger coloured-icon"><i class="icon bi bi-star fs-1"></i>
          <div class="info">
            <h4>Estado</h4>
            <p><b>Ligado</b></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="tile">
          <h3 class="tile-title">
            <i class="fa fa-paypal"> Pagamento <small></small></i>
          </h3>

          <div class="ratio ratio-16x9">
            <div id="salesChart"></div>
            <div class="tile-body">
              <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                  <label class="form-label" for="destinatario_id">Insira o Destinatario</label>
                  <input class="form-control" type="number" step="0.01"  name="destinatario_id" id="destinatario_id">
                </div>

                <div class="mb-3">
                  <label class="form-label" for="id_valor_energia">Digite o valor da energia</label>
                  <input class="form-control" type="number" step="0.01" min="{{ preco_minimo }}" name="valor_energia_kzs" id="id_valor_energia">
                </div>

                <div class="tile-footer">
                  <div class="row">
                    <div class="col-md-8 col-md-offset-3">
                      <button class="btn btn-primary" type="submit"><i class="bi bi-check-circle-fill me-2"></i>Pagar</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'painel-cliente' %}"><i class="bi bi-x-circle-fill me-2"></i>Cancel</a>
                    </div>
                  </div>
               </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
