{% extends 'paginas/modelo2.html' %}
{% load static %}

{% block titulo %}
<title>Medição</title>
{% endblock %}


{% block conteudo %}
<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="title_left">
            <h3><i class="fa fa-lightbulb-o">Medições<small></small></i></h3> <!--fa fa-bolt-->
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon"><i class="icon bi bi-people fs-1"></i>
          <div class="info">
            <h4>Comprada</h4>
            <p><b>5</b></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon"><i class="icon bi bi-heart fs-1"></i>
          <div class="info">
            <h4>Ativa</h4>
            <p><b>25</b></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="widget-small warning coloured-icon"><i class="icon bi bi-folder2 fs-1"></i>
          <div class="info">
            <h4>Consumida</h4>
            <p><b>10</b></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="widget-small danger coloured-icon"><i class="icon bi bi-star fs-1"></i>
          <div class="info">
            <h4>Estado</h4>
            <p><b>Ligado</b></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="tile">
          <h3 class="tile-title">Meu Gráfico</h3>
          <div class="ratio ratio-16x9">
            <div id="salesChart"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="tile">
          <h3 class="tile-title">Usuários Ativos</h3>
          <div class="ratio ratio-16x9">
            <div class="table-responsive">
              <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                  <tr>
                    <th>Nome</th>
                  </tr>
                </thead>
                <tbody>
                  {% for op in operadores %}
                  <tr>
                    <td>{{ op.username }}</td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td>Nenhum Operador Encontrado</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  //Função para buscar as medições via AJaX
  function fetchMedicoes(){
    fetch('api/medicoes/')// Aqui é o endpoint da sua api
    .then(response => response.json())
    .then(data => {
      const mediconesContainer = document.getElementById('medicoes');
      medicionesContainer.innerHTML = '';//Limpa o conteudo
      data.forEach(medicao => {
        const medicaoElement = document.createElement('div');
        medicaoElement.innerHTML = <p>Resideência: medicao.residencia</p>
          <p>Energia Consumida (Kwh): {medicao.energia_consumida_kwh}</p>
          <p>Energia Restante (Kwh): {medicao.energia_restante_kwh}</p>
          <p>Energia Comprada (Kzs): {medicao.energia_comprada_kzs}</p>;
        medicionesContainer.appendChild(medicaoElement);
      });
    })
    .catch(error => console.error("Erro ao buscar medições:", error));
  }

  //Chama a função a cada 5 segundos para atualizar os dados em tempo real
  setInterval(fetchMedicoes, 5000);
</script>
{% endblock %}

