{% extends 'paginas/modelo2.html' %}
{% load static %}

{% block titulo %}
<title>Medição</title>
{% endblock %}


{% block conteudo %}
<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="title_left">
            <h3><i class="fa fa-lightbulb-o">Medições<small></small></i></h3> <!--fa fa-bolt-->
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon"><i class="icon bi bi-people fs-1"></i>
          <div class="info">
            <h4>Comprada</h4>
            <p><b>5</b></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon"><i class="icon bi bi-heart fs-1"></i>
          <div class="info">
            <h4>Ativa</h4>
            <p><b>25</b></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="widget-small warning coloured-icon"><i class="icon bi bi-folder2 fs-1"></i>
          <div class="info">
            <h4>Consumida</h4>
            <p><b>10</b></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="widget-small danger coloured-icon"><i class="icon bi bi-star fs-1"></i>
          <div class="info">
            <h4>Estado</h4>
            <p><b>Ligado</b></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="tile">
          <h3 class="tile-title">Meu Gráfico</h3>
          <div class="ratio ratio-16x9">
            <div id="salesChart"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="tile">
          <h3 class="tile-title">Usuários Ativos</h3>
          <div class="ratio ratio-16x9">
            <div class="table-responsive">
              <canvas id="graficoConsumo">

              </canvas>
              <button onclick="solicitarMedicao()">Obter Medição</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  var residenciaID = {{ data.residencia }};
  var socket = new  WebSocket("ws://localhost:8000/ws/medicao/?residencia=" + residenciaID);

  function solicitarMedicao(){
    socket.send(JSON.stringfy({acao:'solicitar-medicao'}));
  }

  socket.onmessage = function(event):
    var data = JSON.parse(event.data):

    fetch('solicitar-medicao').then(response => response.json()).then(data => {
      const ctx = document.getElementById('graficoConsumo').getContext('2d')
      new Chart(ctx, {
                        type:'line', data:
                        {labels: ['Agora'], datasets:
                            [
                                {label:'Tensão (V)', data:[data.tensao], borderColor:'blue', fill:false},
                                {label:'Corrente (C)', data:[data.corrente], borderColor:'red', fill:false},
                                {label:'Potência (P)', data:[data.potencia], borderColor:'green', fill:false},
                            ]
                        }
      })
    })
  }
</script>
{% endblock %}

